.about-container {
    margin: 60px 0px;
  line-height: 1.8;
  color: black;
  background-color: #ff7d33;
  border-radius: 25px;
  padding:10px 20px;
}

.about-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.about-container h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
}

.about-container p {
  font-size: 16px;
  margin-bottom: 15px;
}

.about-container ul {
  list-style-type: none;
  padding-left: 0;
}

.about-container li {
  font-size: 16px;
  padding: 6px 0;
}

.tagline {
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
  color:white;
  text-align: center;
}
