.login-form {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 350px;
}

.login-form .input-row {
  display: flex;
  gap: 12px;
}

.login-form input {
  width: 350px;
  height: 45px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  flex: none;  
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #ff7d33; 
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}

.login-form button:hover {
  background-color: #e75f11; 
}

.topSection {
  display: flex;
  align-items: center;   
  justify-content: center; 
  gap: 2px;      
  cursor: pointer;         
}

.topSection img {
  width: 40px;            
  height: 40px;
  object-fit: contain;  
}

.topSection h2 {
  margin: 0;
  font-size: 1.5rem;      
  color: #333;            
  font-weight: 600;
}
.loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 20px;
}
.bottomSection{
  margin-bottom: 80px;
}
.bottomSection h3 {
  text-align: center;
}
.bottomSection h2 {
  margin-bottom: 20px;
}
.bottomSection h4 {
  color: #88bab4;
}
.bottomSection a{
  text-decoration: none;
}