*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.auth-container {
  display: flex;
  height: 100vh;
  padding: 0 5vw;
  align-items: center;
  justify-content: space-between;
  background-color: #e9fcfd;
}

.image-section {
  text-align: center; /* center align text and image */
  max-width: 600px;   /* optional max width */
  margin: 0 auto;     /* center container horizontally */
}

.text-content h1 {
  text-align: left;
  margin: 0;
  font-size: 2.5rem;
  color: #333;       /* dark text */
}

.text-content p {  
  text-align: left;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #666;
}

.image-section img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; 
}

.image-section img {
  max-width: 100%;
  max-height: 90%; 
  object-fit: contain; 
}

.content-section {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  padding: 20px;
  max-width: 1350px;
  margin: 0 auto;
}
.home-container{
  background-color: #E6F4F1;
}
.home-layout{
  display: flex;
  justify-content: space-between;
}
.orange-btn{
  width: 100%;
  padding: 10px;
  background-color: #ff7d33; 
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}

.orange-btn:hover {
  background-color: #e75f11; 
}